<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All Camps Available</h1>
    <ol>
        <%for (camp of camps) {%>
            <li> <b>
                    <%=camp.title%>:
                </b>
                $<%=camp.price%>
            </li>

            <% } %>
    </ol>



</body>

</html>