<% layout('layouts/boilerplate.ejs') %>
    <h1 class="">All CampGrounds Availables</h1>

    <div class="">
        <a class="" href='/campgrounds/new'>Create New Camp</a>
    </div>
    <ul>
        <% for (camp of camps) { %>
            <li>
                <%= camp.title%>: $<%= camp.price%> <a href=<%=`/campgrounds/${camp._id}` %>> Details</a>
            </li>
            <% }%>
    </ul>