<% layout('layouts/boilerplate.ejs') %>
    <h1 class="">All CampGrounds Availables</h1>


    <ul>
        <% for (camp of camps) { %>
            <li>
                <div class="card" style="width: 30rem;">
                    <img src=<%=`${camp.image}`%> class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= camp.title%>
                        </h5>
                        <p class="card-text">$<%= camp.price%>
                        </p>
                        <a href=<%=`/campgrounds/${camp._id}` %> class="btn btn-primary">Details</a>
                    </div>
                </div>

            </li>
            <% }%>
    </ul>