<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Campgrounds</title>
</head>

<body>
    <h1 class="title">All CampGrounds Availables</h1>

    <div class="field is-grouped ">
        <a class="button is-link" href='/campgrounds/new'>Create New Camp</a>
    </div>
    <ul>
        <% for (camp of camps) { %>
            <li>
                <%= camp.title%>: $<%= camp.price%> <a href=<%=`/campgrounds/${camp._id}` %>> Details</a>
            </li>
            <% }%>
    </ul>
</body>

</html>